<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
    <class name="StockTestCases.Tc_Stock_001_StockBrowserDescriteBookStockVerificationtestCase"/>
      <class name="StockTestCases.Tc_Stock_002_HoldStockAndVerificationtestCase"/>
      <class name="StockTestCases.Tc_Stock_003_ReleaseStockAndVerificationtestCase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
